body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
}

button {
    background-color: #ffca2c;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ffca2c;
}

input:focus,
button:focus {
    outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa;
}

